{% extends 'base.html.twig' %}

{% block title %}ImageDiaporama index{% endblock %}

{% block body %}
    <h1>ImageDiaporama index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleImage</th>
                <th>Description</th>
                <th>TextInfo</th>
                <th>Src</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_diaporama in image_diaporamas %}
            <tr>
                <td>{{ image_diaporama.id }}</td>
                <td>{{ image_diaporama.libelleImage }}</td>
                <td>{{ image_diaporama.description }}</td>
                <td>{{ image_diaporama.textInfo }}</td>
                <td>{{ image_diaporama.src }}</td>
                <td>{{ image_diaporama.createdAt ? image_diaporama.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('image_diaporama_show', {'id': image_diaporama.id}) }}">show</a>
                    <a href="{{ path('image_diaporama_edit', {'id': image_diaporama.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_diaporama_new') }}">Create new</a>
{% endblock %}
