{% extends 'base.html.twig' %}

{% block title %}Gestion des photos{% endblock %}
{% block nav %}
{{ include('admin/_nav.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Liste des photos</h1>

  
        <div class="card-deck">
        {% for image_diaporama in image_diaporamas %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card" style="margin-top = 20px">
                <img class="card-img-top" src="{{ asset('/images/'~ image_diaporama.src) }}" width="50%" alt="{{ image_diaporama.description }}">
                <div class="card-body" style="background-color:white;color:black;">
                <h5 class="card-title">{{ image_diaporama.libelleImage }}</h5>
                <p>{{ image_diaporama.textInfo }}<br>Categorie {{ image_diaporama.categorie.libelleCategorie }}</p>
                
                    <button><a href="{{ path('image_diaporama_edit', {'id': image_diaporama.id}) }}">MODIFIER</a></button>
                    {{ include('admin/image_diaporama/_delete_form.html.twig') }}
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ image_diaporama.createdAt ? image_diaporama.createdAt|date('d/m/Y à H:i:s') : '' }}</small>
                </div>
            </div>
           </div> 
            
        {% else %}
            pas d'images enregistrées
        {% endfor %}
        </div>
        

    <a href="{{ path('image_diaporama_new') }}">Ajouter une nouvelle image</a>
{% endblock %}
